@use "../../styles/variables" as *;

.register {
  max-width: 30rem;
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: -2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__icon--arrow {
    width: 2rem;
    height: 2rem;
    border: solid 1px $black-color;
    border-radius: 50%;
    padding: 3px;
    margin-bottom: 1rem;
    margin-top: 5rem;
    transform: translateY(10px);
  }
  &__icon--container {
    align-self: start;
  }

  &__heading {
    text-align: left;
    font-size: 8.5vw;
    color: $black-color;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin: 1.4rem 0;
    font-size: 0.813rem;
  }
  &__label {
    color: $black-color;
  }

  &__input {
    width: 100%;
    padding: 0.6rem;
    outline: none;
    border: none;
    background-color: $off-white-color;
    border-radius: 0.5rem;

    &--margin-bottom {
      margin-bottom: 0;
      border: 1px solid $grey-color;
      background-color: $white-color;
    }
    &--img-upload {
      color: $slate-grey-color;
      padding: 1rem 0;
      padding-left: 1rem;
      background-color: $light-grey-color;
    }
    ::placeholder {
      color: $light-grey-color;
    }
  }
  &__error-message {
    color: $color-error;
    margin-top: 2rem;
    text-align: left;
    &--file-name {
      margin: 0;
      color: green;
    }
    &--missing-fields {
      color: red;
      margin: 0;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .register {
    width: 60%;
    padding: 2rem;
    margin: 0 auto;

    &__icon--arrow {
      width: 3.5rem;
      height: 3.5rem;
      border: solid 2px $black-color;
      padding: 0.6rem;
      margin-top: 0px;
    }
    &__icon--container {
      margin-top: 0;
    }

    &__heading {
      text-align: left;
      font-size: 2.25rem;
    }

    &__form {
      gap: 1rem;
      font-size: 1rem;
    }
    &__input {
      font-size: 1rem;
    }
  }
}
@media screen and (min-width: $desktop-breakpoint) {
  .register {
    width: 55%;

    &__heading {
      font-size: 2rem;
    }

    &__form {
      font-size: 1rem;
    }
    &__input {
      font-size: 1rem;
    }
  }
}
