.button {
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  &--primary {
    background-color: #a7cca4;
  }

  &--secondary {
    background-color: #5d4a3c;
  }

  &--light-grey {
    background-color: #e4e5f0;
    color: #5f6068;
  }

  &--sm {
    width: 16.75rem;
    height: 3.8rem;
  }

  &--md {
    width: 20.938rem;
    height: 4.125rem;
  }
}
