@use "../../styles/variables" as *;

.dashboard{
    .search-bar{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 30px;

      .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
          border-radius: 30px;
        }
    }
}
