@use "../../styles/variables" as *;

.task-page {
  background-color: $white-color;
  height: 100%;
  margin-bottom: 56px;
  &__none {
    text-align: center;
    color: rgb(172, 159, 159);
  }

  &__label {
    // Visually hidding search box label but still screen reader accessible
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  &__search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.8rem auto 0;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 30px;
  }

  .task-page__input {
    width: 86%;
    font-family: $font-family-modern-header;
  }

  .search-icon {
    margin-left: 12px;
    color: #3b5165;
  }
}

@media screen and (min-width: $extra-large-desktop-breakpoint) {
  .task-page {
    .task-page__input {
      width: 37%;
      transform: scale(2.4);
      margin-top: 4rem;
      margin-bottom: 5rem;
    }
    .search-icon {
      font-size: 2rem;
    }
  }
}
