@use "../../styles/variables" as *;

.completed-task {
  &__header {
    svg {
      path {
        color: $black-color;
      }
    }
  }

  &__heading,
  &__media {
    color: $black-color;
    font-weight: 700;
  }

  .MuiTypography-root {
    font-family: $font-family-modern-content;
  }

  &__category,
  &__points,
  &__description,
  &__img {
    color: $slate-grey-color;
  }

  &__img {
    width: 50%;
  }

  .arrow-up {
    transform: rotate(0deg);
    margin-left: auto;
    transition: transform 200ms;
  }

  .arrow-down {
    transform: rotate(180deg);
    margin-left: auto;
    transition: transform 100ms ease-in-out;
  }
}
