@use "../../styles/variables" as *;

.daily-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $off-white-color;
  &__header {
    padding: 0 5rem 0 5rem;
    color: $pure-black-color;
  }
  &__paragraph {
    padding: 0 5rem 0 5rem;
    color: $pure-black-color;
  }
}
