@use "../../styles/variables" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-bottom: 70px;

  &__daily-tasks-button {
    margin-top: 1rem;
  }
  &__header {
    margin-top: 4rem;
    margin-bottom: 2rem;
    line-height: $line-height-header;
    padding: 0 2rem 0 2.2rem;
    color: $background-color;
  }
  &__paragraph {
    padding: 0 2rem 0 2.2rem;
    color: $slate-grey-color;
    line-height: $line-height-paragraph;
  }
  &__quote {
    line-height: $line-height-subtext;
    padding: 0 3.5rem 0 6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 3.3rem;
    border-left: 0.2rem solid $grey-color;
    padding-left: 10px;
    color: $background-color;
  }
}


@media screen and (min-width: $tablet-breakpoint) {

  .home{
    padding: 1rem;
  
  &__daily-tasks-button {
    margin-top: unset;
   }
  }
} 

@media screen and (min-width: $desktop-breakpoint) {

  .home{
    padding: 2rem;
    font-size: 1.3rem;
  
  &__daily-tasks-button {
    margin-top: unset;
    }
    &__header {
      font-size: 2rem;
    } 
  }
} 

@media screen and (min-width: $large-desktop-breakpoint) {

  .home{
    padding: 2rem;
    font-size: 1.6rem;
    &__header {
      font-size: 2.5rem;
      line-height: 3rem;
    } 
    &__paragraph {
      line-height: $line-height-header;
    }
    &__quote {
      line-height: $line-height-header;
      margin-top: 1.5rem;
      margin-left: 6rem;
      padding-left: 20px;
    }
  }
} 

@media screen and (min-width: $extra-large-desktop-breakpoint) {

  .home{
    padding: 2.2rem;
    font-size: 2.8rem;
    &__header {
      font-size: 4rem;
      line-height: 4rem;
    } 
    &__paragraph {
      line-height: 3.2rem;
    }
    &__quote {
      line-height: 3rem;
      margin-top: 3rem;
      margin-left: 6rem;
      padding-left: 20px;
    }
  }
} 