@use "../../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Oswald:wght@200..700&display=swap");

// TODO: Remove import font size (Oswald)
.account {
  display: flex;
  flex-direction: column;
  // justify-content: end;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $white-color;
  height: 100vh;

  gap: 10px;
  &__info {
    margin-bottom: 1.5rem;

    &--heading {
      line-height: $line-height-header;
      font-size: 2.25rem;
      font-family: $font-family-modern-header;
      color: $black-color;
      margin-bottom: 1.5rem;
    }
    &--text {
      font-size: 1rem;
      font-weight: 700;
      color: $black-color;
      //   font-family: Oswald;
      font-family: "Oswald", sans-serif;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .account {
    gap: 25px;
    &__info {
      &--heading {
        line-height: 1;
        font-size: 3.25rem;
        margin-bottom: 2.5rem;
      }
      &--text {
        font-size: 1.5rem;
      }
    }
    &__buttons {
      width: 52%;
      margin: 0 auto;

      gap: 34px;
    }
  }
}
@media screen and (min-width: $desktop-breakpoint) {
  .account {
    gap: 40px;
    &__info {
      &--heading {
        line-height: 1;
        font-size: 3rem;
      }
    }
    &__buttons {
      width: 40%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: $large-desktop-breakpoint) {
  .account {
    gap: 10px;
    &__info {
    }
    &__buttons {
      width: 25%;
    }
  }
}
@media screen and (min-width: $extra-large-desktop-breakpoint) {
  .account {
    gap: 0px;
    &__info {
    }
    &__buttons {
      width: 15%;
    }
  }
}
