@use "../../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Oswald:wght@200..700&display=swap");

// TODO: Remove import font size (Oswald)
.account {
  display: flex;
  flex-direction: column;
  // justify-content: end;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $white-color;
  height: 100vh;

  gap: 10px;
  &__info {
    margin-bottom: 1.5rem;

    &--heading {
      line-height: $line-height-header;
      font-size: 2.25rem;
      font-family: $font-family-modern-header;
      color: $black-color;
      margin-bottom: 1.5rem;
    }
    &--text {
      font-size: 1rem;
      font-weight: 700;
      color: $black-color;
      //   font-family: Oswald;
      font-family: "Oswald", sans-serif;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
