@use "../../styles/variables" as *;

.bottom-navigation {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

  &__item .MuiSvgIcon-root {
    color: $grey-color;
  }

  .Mui-selected .MuiSvgIcon-root {
    color: $black-color;
  }
  .Mui-selected {
    color: $black-color;
  }

  .css-imwso6-MuiBottomNavigationAction-label {
    font-family: $font-family-modern-content;
  }
}
