@use "../../styles/variables" as *;
.bottom-navigation__item .MuiSvgIcon-root {
  color: lightgray;
}
.Mui-selected .MuiSvgIcon-root {
  color: rgb(59, 52, 52);
}
.Mui-selected {
  color: rgb(59, 52, 52);
}
