@use "../../styles/variables" as *;
.bottom-navigation__item .MuiSvgIcon-root {
  color: lightgray;
}
.Mui-selected .MuiSvgIcon-root {
  color: black;
}
.Mui-selected {
  color: black;
}

.bottom-navigation__item {
  fill: #cacbcd;
}

.bottom-navigation__item.active {
  fill: black;
}
