@use "../../styles/variables" as *;

.create-task {
  width: 100%;
  Button {
    min-width: auto;
    max-width: 200px;
    justify-self: center;
    margin-top: 30px;
  }
    display: flex;
    justify-content: center;
    &__form {
      margin: 0px;
      padding: 10px;
      width: 95vw;
  
      label {
        padding-top: 40px;
        color: black;
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 90%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
      p {
        max-width: 90%;
        margin-bottom: -20px;
        color: #ff0000;
      }
    }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    .create-task__form {
      width: 95vw;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    .create-task__form {
      width: 55vw;
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    .create-task__form {
      width: 35vw;
    }
  }