.create-task {
    display: flex;
    justify-content: center;
    &__form {
      margin: 0px;
      padding: 20px;
      width: 35vw;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
  
      label {
        padding-top: 50px;
        color: black;
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 90%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
      Button {
        width: 100%;
        justify-self: center;
        margin-top: 5px;
      }
      p {
        max-width: 90%;
        margin-bottom: -20px;
        color: #ff0000;
      }
    }
  }