@use "../../styles/reset";
@use "../../styles/variables" as *;
@use "../../styles/typography";

.header {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
  background-color: $secondary-color;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__image-div {
    float: right;
    width: 2.2rem;
    height: auto;

    &--image {
      border-radius: 50%;
      background-color: $white-color;
    }
  }
  &__title-div {
    &--title {
      color: $primary-color;
      margin-bottom: unset;
      font-family: $font-family-header-title;
    }
    &--subtitle {
      margin-top: unset;
      font-family: $font-family-modern-header;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .header {
    padding: 3rem;
    padding-bottom: 0;

    &__image-div {
      width: 3.5rem;
    }
    &__title-div {
      &--title {
        font-size: 1.2rem;
      }
      &--subtitle {
        font-size: 3.5rem;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .header {
    padding: 1.5rem;
    padding-bottom: 0;

    &__image-div {
      width: 2.5rem;
    }
    &__title-div {
      margin-top: -1.5rem;
      &--title {
        font-size: 1rem;
        margin-bottom: 0.9rem;
      }
      &--subtitle {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .header {
    padding: 2rem;
    padding-bottom: 0;

    &__image-div {
      width: 3rem;
    }
    &__title-div {
      &--title {
        font-size: 1.5rem;
      }
      &--subtitle {
        font-size: 4rem;
      }
    }
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: $extra-large-desktop-breakpoint) {
  .header {
    padding: rem;
    padding-bottom: 0;
    &__image-div {
      width: 8rem;
    }
    &__title-div {
      &--title {
        font-size: 2.5rem;
      }
      &--subtitle {
        font-size: 6.5rem;
      }
    }
    padding-left: 5.5rem;
  }
}
