@use "../../styles/variables" as *;

.calendar {
  &__calendar {
    color: $pure-black-color;
    font-family: $font-family-modern-content;
    padding-top: 2rem;
    margin: 0 auto;
    max-width: 90%;

    .MuiDayCalendar-weekDayLabel {
      font-family: $font-family-modern-content;
    }

    .MuiPickersCalendarHeader-root {
      display: grid;
      padding-right: 1rem;
      padding-left: 1rem;
      .MuiPickersCalendarHeader-labelContainer {
        grid-area: 1/1/2/2;
        justify-content: center;
        width: 100%;
        font-family: $font-family-modern-content;
      }

      .MuiPickersArrowSwitcher-root {
        grid-area: 1/1/2/2;
        width: 100%;
        justify-content: space-between;

        Button {
          background-color: $light-grey-color;
        }
      }
    }

    Button.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
      background-color: $primary-color;
      border-radius: 0.5rem;
    }
    Button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-today {
      border-radius: 0.5rem;
      border-color: $primary-color;
    }

    Button.MuiButtonBase-root.MuiPickersDay-root {
      font-family: $font-family-modern-content;
    }
  }

  &__task-container {
    margin: 0 1rem;
  }

  &__no-tasks-message {
    color: $pure-black-color;
    text-align: center;
  }
}

@media screen and (min-width: $extra-large-desktop-breakpoint) {
  .MuiDateCalendar-root {
    max-width: 2000px;
  }
}
