@use "../../styles/reset";
@use "../../styles/variables" as *;
@use "../../styles/typography";

.leaderboard{
        background-color: white;
    &__cards{
        margin-top: 3rem;
    }
    
}

@media screen and (min-width: $large-desktop-breakpoint) {
    .leaderboard{
        &__cards{
            margin-top: 5rem;
        }
    }
}

@media screen and (min-width: $extra-large-desktop-breakpoint) {
    .leaderboard{
        &__cards{
            margin-top: 9rem;
        }
    }
}
