@use "../../styles/variables" as *;

.task-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 85%;
  margin: 1.8rem auto 0;
  color: $black-color;
  border-bottom: 2px solid $light-grey-color;
  padding-bottom: 1.2rem;
  align-items: flex-start;

  &__requirement {
    font: $font-h4 $font-family-modern-content;
    color: $black-color;
    margin: 0;
  }

  &__category,
  &__points {
    font: $font-subText/$line-height-subtext $font-family-modern-content;
    margin: 0;
    color: $slate-grey-color;
  }
}

.active-task--last {
  border-bottom: none;
}

@media screen and (min-width: $tablet-breakpoint) {
  .task-tile {
    &__inputs {
      height: 30px;
      width: 30px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .task-tile {
    &__requirement {
      padding-top: 1rem;
      font-size: 1.4rem;
    }

    &__category,
    &__points {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .task-tile {
    &__requirement {
      font-size: 1.6rem;
      padding-bottom: 1rem;
    }

    &__category,
    &__points {
      font-size: 1.4rem;
      padding-bottom: 0.8rem;
    }
  }
}

@media screen and (min-width: $extra-large-desktop-breakpoint) {
  .task-tile {
    &__requirement {
      font-size: 3rem;
      padding-bottom: 2.2rem;
    }

    &__category,
    &__points {
      font-size: 2.8rem;
      padding-bottom: 2.1rem;
    }
  }
}
