@use "../../styles/variables" as *;

.error-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;

  &__heading {
    font-family: $font-family-header-title;
    font-size: 1.7rem;
    color: $pure-black-color;
    padding: 4rem 2rem 0 2rem;
    text-align: center;
    padding-top: 7rem;
  }

  &__heading-second {
    font-family: $font-family-header-title;
    font-size: 1.5rem;
    color: $pure-black-color;
    padding: 0 2rem 0 2rem;
    text-align: center;
    margin-bottom: -4rem;
    z-index: 100;
  }

  &__button {
    margin-bottom: 2rem;
  }
}
