@use "../../styles/variables" as *;

.user-tile {
    display: flex;
    flex-direction: row;
    max-width: 85%;
    margin: 2rem auto 0;
    color: $black-color;
    border-bottom: 2px solid $light-grey-color;
    padding-bottom: 1.8rem;
    align-items: flex-start;

    &__image {
        border-radius: 50%;
        padding: 4px;
        border: 1px solid black;
        max-width: 5rem;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__info {
        flex-direction: column;
        margin: -0.5rem 2rem;
        padding: 4px;
        color: $black-color;
    }

    &__name {
        margin-bottom: -0.5rem;        
    }
    
    &__points,
    &__tribe {
        font: $font-subText/$line-height-subtext $font-family-modern-content;
        margin: 0;
        color: $slate-grey-color;
    }

    &__memberSince {
        flex-direction: column;
        align-self: flex-end;
        color: rgb(175, 175, 175);
        font: $font-subText/$line-height-subtext $font-family-modern-content;
        text-align: end;
    }
}