@use "../../styles/variables" as *;

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $white-color;
  height: 100vh;
  padding: 3rem;
  gap: 0.7rem;
  &__info {
    margin-bottom: 1.5rem;

    &--heading {
      line-height: $line-height-header;
      font-size: 2.25rem;
      font-family: $font-family-modern-header;
      color: $black-color;
      margin-bottom: 1.5rem;
    }
    &--text {
      font-size: 1rem;
      font-weight: 700;
      color: $black-color;
      font-family: $font-family-header-title;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .account {
    gap: 2.7rem;
    &__info {
      &--heading {
        line-height: 1;
        font-size: 3.25rem;
        margin-bottom: 2.5rem;
      }
      &--text {
        font-size: 1.5rem;
      }
    }
    &__buttons {
      width: 52%;
      margin: 0 auto;

      gap: 3.5rem;
    }
  }
}
@media screen and (min-width: $desktop-breakpoint) {
  .account {
    gap: 40px;
    &__info {
      &--heading {
        line-height: 1;
        font-size: 3rem;
      }
    }
    &__buttons {
      width: 40%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: $large-desktop-breakpoint) {
  .account {
    gap: 0.8rem;

    &__buttons {
      width: 25%;
    }
  }
}
@media screen and (min-width: $extra-large-desktop-breakpoint) {
  .account {
    gap: 0px;

    &__buttons {
      width: 15%;
    }
  }
}
