@use "../../styles/variables" as *;

.group-component{
    .search-bar{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 30px;

      .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
          border-radius: 30px;
        }
    }
    
    .group-tile__container{
        display: flex;
        flex-direction: column;
        // border: solid 2px red;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
